**Question1. Create a function that takes three arguments a, b, c and returns the sum of the
numbers that are evenly divided by c from the range a, b inclusive.
Examples**

evenly_divisible(1, 10, 20) ➞ 0

* No number between 1 and 10 can be evenly divided by 20.


---


evenly_divisible(1, 10, 2) ➞ 30
* 2 + 4 + 6 + 8 + 10 = 30


---


evenly_divisible(1, 10, 3) ➞ 18
* 3 + 6 + 9 = 18**

In [10]:

def evenly_divisible(a,b,c) :
    x = [i for i in range(a,b+1) if i % c == 0 ]
    add = sum(x)
    if add != 0 :
      return add
    else :
      return f"No number between {a} and {b} can be evenly divided by {c}."

In [12]:
evenly_divisible(1, 10, 20)

'No number between 1 and 10 can be evenly divided by 20.'

In [13]:
evenly_divisible(1, 10, 2)

30



---

**Question2. Create a function that returns True if a given inequality expression is correct and
False otherwise.**

Examples

correct_signs(&quot;3 &lt; 7 &lt; 11&quot;) ➞ True

correct_signs(&quot;13 &gt; 44 &gt; 33 &gt; 1&quot;) ➞ False

correct_signs(&quot;1 &lt; 2 &lt; 6 &lt; 9 &gt; 3&quot;) ➞ True

In [14]:
def correct_signs(expression) :
    result = eval(expression)
    return result

In [15]:
correct_signs("3 < 7 < 11")

True

In [17]:
correct_signs("1 < 2 < 6 < 9 > 3")

True

In [19]:
correct_signs("13 > 44 > 33 > 1")

False



---

**Question3. Create a function that replaces all the vowels in a string with a specified character.**

Examples

replace_vowels(&quot;the aardvark&quot;, &quot;#&quot;) ➞ &quot;th# ##rdv#rk&quot;

replace_vowels(&quot;minnie mouse&quot;, &quot;?&quot;) ➞ &quot;m?nn?? m??s?&quot;

replace_vowels(&quot;shakespeare&quot;, &quot;*&quot;) ➞ &quot;sh*k*sp**r*&quot;

In [20]:
def replace_vowels( word , character ) :
    vowels = ['a','e','i','o','u']
    for i in vowels :
        if i in word :
            word = word.replace(i, character )
    return word

In [22]:
replace_vowels("the aardvark", "#")

'th# ##rdv#rk'

In [23]:
replace_vowels("minnie mouse", "?")

'm?nn?? m??s?'

In [25]:
replace_vowels("shakespeare", "*")

'sh*k*sp**r*'



---

**Question4. Write a function that calculates the factorial of a number recursively.**

Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [28]:
def factorial_recursive(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial_recursive(n - 1)

In [29]:
 factorial_recursive(0)

1

In [30]:
 factorial_recursive(5)

120



---

**Question 5
Hamming distance is the number of characters that differ between two strings.
To illustrate:**

String1: &quot;abcbba&quot;

String2: &quot;abcbda&quot;

Hamming Distance: 1 - &quot;b&quot; vs. &quot;d&quot; is the only difference.
Create a function that computes the hamming distance between two strings.

Examples

hamming_distance(&quot;abcde&quot;, &quot;bcdef&quot;) ➞ 5

hamming_distance(&quot;abcde&quot;, &quot;abcde&quot;) ➞ 0

hamming_distance(&quot;strong&quot;, &quot;strung&quot;) ➞ 1

In [31]:
def hamming_distance(str1, str2):
    distance = 0
    for i, j in zip(str1, str2):
        if i != j:
            distance += 1
    return distance

In [32]:
hamming_distance("abcde", "bcdef")

5

In [33]:
hamming_distance("abcde", "abcde")

0





---